<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
<!--    <link rel="stylesheet" href="home.css">-->
     {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>
    <nav id="navs">
        <div class="navTop">
          <h1 class="home">HOME</h1>
          <h1 class="home">SMART STORAGE</h1>
            <a href="/admin">
                <button class="button-30" role="button">ADMIN</button>
            </a>
        </div>
    </nav>
    
        <div class="main2">
  
            <div class="device">

                     <!-- Replace with the path to your image <img src="0green-nature-beautiful-wallpaper.jpg" alt="Your Image Description"> -->
                    <div class="project-box">
                

                        <h1 class="description">About Project</h1>
                        
                        <h3 class="texts">
                            Post-Harvest Losses in storage is a major issue in
world. In India alone post harvest losses of onion in storage is
around 13.4% . To address this problem the study focuses
on the minimization of post harvest storage losses in onion.
An IOT based model is developed which provides real-time
monitoring of the optimal conditions in storage/ warehouse of
onions. The factors which determine the life of onions are mainly
temperature, humidity and release of gases. Based on these three
conditions we have applied fuzzy logic to predict the storage life
span of onion. Experiment result shows that the proposed system
shows increase in the shelf life of onions.
                            We have implemented an Onion Storage monitoring and controlling system based on IoT and Fuzzy Logic.
Based on the performance of the system after implementation,
it can be concluded that this system can monitor the onion
storage in real-time and effective to increase shelf life of onion.
Also, website helps the farmer to assess the conditions more
efficiently. Moreover, this made system could also predict the
shelf life of onions which far out-perform the conventional
system
                        </h3>
                    </div>      
            </div>
           
        </div>
        <div class="main">
            <div class="device2">
                
            
                <button class="button-50" role="button">DEVICE 1 <br> <a href="/device">CLICK HERE</a> </button>
                <button class="button-50" role="button">DEVICE 2<br> CLICK HERE</button>
                <button class="button-50" role="button">DEVICE 3<br> CLICK HERE</button>
                <button class="button-50" role="button">DEVICE 4<br> CLICK HERE</button>
            </div>
        </div>
        <footer class="site-footer">
            <div class="container">
                <div class="footer-top">
                    
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer-contact">
                        <p>Contact Us:</p>
                        <p>Email: raspberrypiallium@gmail.com</p>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p>&copy; 2024 Project Allium. All rights reserved.</p>
                </div>
            </div>
        </footer>
</body>
</html>